#highlight{
  background-color: #14183e;
  min-height: 100vh;
  color:#fff;

  header{
    width: 100%;
    height: 70px !important;
    font-size: 3em;
    box-shadow: rgba(228, 222, 222, 0.075) 0px 2px 0px 0px;
  }

  .icon{
    width: 17%;
  }

  .icon i{
    font-size: 1.5em;
    color: #1363c6;
  }

  li:hover{
    background-color: #1363c6;
  }

  li:hover > .nav-link > div{
    transform: translateX(20px);
    transition: transform 1s linear;

    & > i {
      color: #14183e;
    }
  }
}