#banner{

  position: relative;
  min-height: calc(100vh - 78px);
  // background: black;
  height: 100%;
  z-index: 999 !important;

  nav{
    padding-top: 1.5em;
    z-index: 999 !important;
  }

  nav > ul{
    display: flex;
    justify-content: center;
    width: 100%;
  }

  nav > ul > li {
    list-style: none;
    margin: 0 10px;
    z-index: 999 !important;
  }

  nav > ul > li > .nav-link{
    text-decoration: none;
    color: #fff;
    font-size: 1em;
    letter-spacing: 1px;
    padding: 8px 25px;
    font-weight: 500;
    border: 2px solid transparent;
    text-shadow: 1px 1px 2px #000000;
  }

  nav > ul > li > .nav-link:hover, nav > ul > li > .nav-link.active{
    color: #ffffff;
    text-shadow: 1px 1px 2px #000000;
    border: 2px solid #ccc;
    border-radius: 3px;
  }

  .slider-container{
    position: absolute;
    top: 0 !important;
    width: 100% !important;
    left: 0 !important;
    overflow-x: hidden !important;
  }

  .banner-img{
    z-index: -99 !important;
    background-position: center !important;
    background-size: cover !important;
    -webkit-background-size: cover !important;
    background-repeat: no-repeat !important;
    -o-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    min-height: 710px;
    width: 100% !important;
  }

  .banner-info{
    padding-top: 15em;
  }

  .banner-info h4, .banner-info h5 {
    letter-spacing: 2px;
    line-height: 1.4em;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.37);
    font-size: 4em;
    color: #fff;
    position: relative;
  }

  .banner-info h5 {
    letter-spacing: 3px;
  }

  .banner-info h5:after ,.banner-info h2:after{
    position: absolute;
    content: "";
    width: 10%;
    height: 4px;
    background: #fff;
    left: 45%;
    bottom: -25%;
  }
  .banner-info a {
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #fff;
    padding: 15px 40px;
    border: 2px solid #fff;
    border-radius: 3px;
    margin-top: 1em;
    display: inline-block;
  }

  .banner-info a:hover {
    background: #ffc107;
    border: 2px solid #ffc107;
    color: #fff;
  }

  .banner-info span {
    font-size: 60px;
    color: #fff;
    margin-bottom: 10px;
  }
//   .rslides{
//     position: relative;
//     list-style: none;
//     overflow: hidden;
//     width: 100%;
//     padding: 0;
//   }

//   .rslides li {
//     -webkit-backface-visibility: hidden;
//     position: absolute;
//     display: none;
//     width: 100%;
//     left: 0;
//     top: 0;
//   }

//   .rslides li:first-child {
//     position: relative;
//     display: block;
//     float: left;
//   }

//   .rslides img {
//     display: block;
//     height: auto;
//     width: 100%;
//     border: 0;
//   }










}