#tickets{

}

#bus__selection{
  
  color: #000;
  background-color: rgb(238, 238, 238);

  .bus__selection-wrapper{
    margin: 1em 0;
    box-shadow: #ffffff 0px 0px 1px 1px;
    background-color: #fff;

  }

  img.bus-img{
    width:100%;
    height: 100%;
  }

  i{
    color: #1363c6;
  }

  h1{
    font-weight: bolder;
  }

  h6{
    font-weight: 600;
  }

  p{
    font-size: 1em;
    font-weight: 500;
  }
  
  button{
    height: 55px;
    border: none;
    background-color: #1363c6;
    color: #ffffff;
  }

  @media screen and (max-width: 768px) {
    .info{
      margin-top: 2em;
    }
    .fee-wrapper{
      margin-top: 1.5em;
    }

    .fee-wrapper > p{
      margin-left: auto;
      font-size: 1.125em;
    }
  }
}

#seat__modal{
  top: 0;
  position: fixed;
  min-height: 100vh;
  z-index: 999;
  background-color: rgb(238, 238, 238);
  color:  black;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;


  .close__modal > i{ cursor: pointer }
  
  .seat__modal-wrapper{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  .seat__sample{
    width: 40px;
    height: 40px;
    border-radius: 5px;
  }

  .available__seat{
    background-color: green;
  }
  .selected__seat{
    background-color: #383434;
  }

  .booked__seat{
    background-color: #df1010;
  }

  .seats__container{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 40px 30px;
    width: 500px !important;
    align-self: center;
    padding: 10px;
  }

  .seats__wrapper{
    width: 100%;
    grid-column: span 3;
  }

  .seats, .steering{
    width: 50px;
    height: 50px;
    background-color: green;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
    font-size: 1em;
    font-weight: 600;
  }

  .steering{
    background-color: transparent;
    cursor: initial;
  }

  .steering > img{
    width: 50px;
    height: 50px;
  }

  .hidden{
    visibility: hidden;
  }

  form > button{
    background-color: #1363c6;
    color: #fff;
    outline: none;
    border: none;
    height: 45px;
  }

  @media screen and (max-width: 768px) {
    .seats__container{
      display: grid;
      width: 100% !important;
    }
  }
}