#confirmation{

  .icon{
    width: 80px;
    height: 80px;
    background-color: #cde4d9;
    border-radius: 50%;
  }

  .icon > i{
    color: #008041;
    font-size:xx-large;
  }

  .confirmation__text{
    line-height: 24px;
    font-size: 1rem;
    opacity: 0.7;
  }
  
  .reference{
    background-color: #ffedc4;
    height: 90px;
    width: fit-content;
    padding: 2em;
  }

  .reference > p{
    font-size: 1.25rem;
  }

  .reference > p > strong{
    font-size: 1.5rem;
  }

  @media screen and (max-width: 486px) {
    .confirmation__text{
      width: 100% !important;
    }
  }
}