#registration{

  min-height: 100vh;
  background-color: #f3f0f0 !important;
  height: 100%;
  display: flex;
  align-items: center;

  form{
    border-radius: 5px;
    background: #fff;
    width:50%;
    padding: 2rem 3rem;
  }

  header{
    margin: 1.5rem 0;
  }

  header > h4{
    margin: 0;
    height: 100%;
    font-size: 1.8em;
    font-weight: bolder;
    color: #000;
  }

  .form-group{
    position : relative;
  }

  label{
    font-weight: 400;
    font-size: 1em;
    opacity: .8;
  }

  input:not([type=checkbox]){
    outline: none !important;
    border-radius: 5px;
    padding: 15px;
    font-weight: 600;
  }

  input.form-control:focus, input.form-check-input:focus{
    outline: none !important;
    box-shadow: none;
  }

  .eye-icon{
    position: absolute;
    top: 58%;
    left: 92%;
    cursor: pointer;
  }

  button[type=submit]{
    background-color: #009cff !important;
    border: none;
    outline: none;
    padding: 15px;
    color: #fff;
    font-weight: 600;
  }

  button[type=submit]:hover{
    color: #fff;
  }

  p{
    font-weight: 400;
  }

  @media screen and (max-width: 992px) {
    form{
      padding: 0 !important;
    }
  }
  
  @media screen and (max-width: 768px) {
    background-color: #fff !important;

    form{
      width: 100%;
    }
  }

  @media screen and (max-width: 486px) {
    input:not([type="checkbox"]){
      padding: 10px;
    }

    .eye-icon{
      left: 90%;
    }
  }
}