#registration{

  height: 100vh;
  width: 100%;
  background-color: #e3e3e3 !important;


  form{
    border-radius: 5px;
    background: #fff;
    width: 500px;
  }

  header{
    background-color: #ffc107;
    padding: 1.5em 4em;
  }

  header > h4{
    margin: 0;
    height: 100%;
    text-transform: uppercase;
    font-size: 2em;
    font-weight: 700;
    color: #fff
  }

  .wrapper{
    padding: 1em;
  }

  .form-group{
    position : relative;
  }

  label{
    font-weight: 600;
    font-size: 1em;
    opacity: 0.5;
  }

  input:not(:checked){
    outline: none !important;
    border-radius: 5px;
    padding: 10px;
    font-weight: 600;
  }

  input.form-control:focus, input.form-check-input:focus{
    outline: none !important;
    box-shadow: none;
  }

  .eye-icon{
    position: absolute;
    top: 58%;
    left: 94%;
    cursor: pointer;
  }

  button[type='submit']{
    background-color: #ffc107 !important;
    border: none;
    outline: none;
    padding: 10px;
    color: #fff;
    font-weight: 600;
  }

  button[type='submit']:hover{
    // background: #e7b719 !important;
    color: #fff;
  }
  
  @media screen and (max-width: 768px) {
    form{
      width: 100%;
    }
  }
}