.top-bar{
  height: 80px;
  background: #fff;
  position: relative;
}
.nav-link{
  text-decoration: none;
}

.log-icons{

}

.log-icons p {
  font-size: 1em;
  letter-spacing: 1px;
  color: #333;
  font-weight: 500;
}

.log-icons p i{
  color: #ffc107;
  margin-right: 4px;
}